.summary {
    text-align: left;
}

.summary_topic {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1px;
    color: var(--grey-800);
    margin-bottom: 80px;
    width: 200px;
}

.summary>div {
    margin-bottom: 80px;
}

.industry {
    margin-bottom: 40px;
}

.industry:nth-child(2) {
    margin-bottom: 80px;
}

.industry_title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-500)
}

.industry_text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey-800)
}

.summary_content:nth-child(2) {
    margin-bottom: 80px;
    margin-top: 80px;
}

.summary_header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: var(--grey-800);
    margin-bottom: 16px;
}

.summary_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-600);

}

@media (min-width: 576px) {
    .summary_topic {
        font-size: 44px;
        line-height: 49px;
        width: 250px;
    }

    .summary_header {
        font-size: 32px;
        line-height: 38px;
    }

    .summary_text {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    .summary {
        display: grid;
        grid-template-columns: 264px auto;
        grid-column-gap: 64px;
    }
    .summary>div, .industry:nth-child(2) {
        margin-bottom: 100px;
    }
    .summary_topic{
        grid-column: 1/3;
        margin-bottom: 100px;
    }
    .summary_content:nth-child(2) {
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .industry {
        margin-bottom: 50px;
    }
}

@media (min-width: 1280px) {
    .summary {
        grid-column-gap: 132px;
    }
}